# Part I. ETL Pipeline for Pre-Processing the Files

#### Import Python packages

In [1]:
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [2]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

print(filepath)

/home/workspace
/home/workspace/event_data

In [3]:
#get all necessary files
file_path_list = list()

for root, dirs, files in os.walk(filepath):
    file_path_list.append(glob.glob(os.path.join(root,'*')))
    
# exclude ipynb checkpoint
file_path_list = file_path_list[0]

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [4]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line)

In [5]:
# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [6]:
# check the number of rows in csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

In [7]:
#some tests, final len of all rows
testcount = 0
for f in full_data_rows_list:
    if f[0] != '':
        testcount += 1
print(testcount)

6820

In [8]:
#more tests in final csv file, pandas datafrane is created for testing reasons
testdf = pd.read_csv("event_datafile_new.csv")
testdf.shape

(6820, 11)

In [9]:
#checking, if test dataframe size equals csv size
assert testcount == testdf.shape[0]

# Part II. Complete the Apache Cassandra coding portion of your project. 

## The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## ETL Apache Cassandra Part

#### Creating a Cluster

In [10]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
cluster = Cluster(["127.0.0.1"])

# To establish connection and begin executing queries, need a session
try:
    session = cluster.connect()
except Exception as e:
    print(e)

#### Create Keyspace

In [11]:
keyspace_script = "CREATE KEYSPACE IF NOT EXISTS \
                    project_udacity WITH REPLICATION = \
                    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"

try: 
    session.execute(keyspace_script)
except Exception as e:
    print(e)

#### Set Keyspace

In [12]:
try:
    session.set_keyspace("project_udacity")
except Exception as e:
    print(e)

### Now we need to create tables to run the following queries.

In [13]:
dropsql = "DROP TABLE IF EXISTS "
createsql = "CREATE TABLE IF NOT EXISTS "

tab1 = "t_sessions_items"
tab1_fields = " (sessionid int, iteminsession int, \
                 artist text, song text, length float, \
                 PRIMARY KEY(sessionid, iteminsession))"
tab2 = "t_user_sessions"
tab2_fields =  " (userid int, sessionid int, iteminsession int, \
                  song text, artist text, \
                  firstname text, lastname text, \
                  PRIMARY KEY(userid, sessionid, \
                  iteminsession))"
tab3 = "t_songs"
tab3_fields = " (song text, sessionid int, iteminsession int, \
                 firstname text, lastname text, \
                 PRIMARY KEY(song, sessionid, iteminsession))"

tablist = [tab1, tab2, tab3]
tabfieldslist = [tab1_fields, tab2_fields, tab3_fields]

In [14]:
for t, tf in zip(tablist, tabfieldslist):
    try:
        session.execute(dropsql + t)
    except Exception as e:
        print(e)
        print("Error with dropping {}".format(t))
    
    try:
        session.execute(createsql + t + tf)
    except Exception as e:
        print(e)
        print("Error with creating {}".format(t))

In [15]:
#test creation...WATCH OUT: In case of Apache Cassandra
#select count * should only be done for empty tables
countsql = "SELECT * FROM "
for t in tablist:
    row = session.execute(countsql + t)
    print(t)
    print(row.column_names)

t_sessions_items
['sessionid', 'iteminsession', 'artist', 'length', 'song']
t_user_sessions
['userid', 'sessionid', 'iteminsession', 'artist', 'firstname', 'lastname', 'song']
t_songs
['song', 'sessionid', 'iteminsession', 'firstname', 'lastname']

## Creation of queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

Below are two code blocks per query: One for inserting and another one for selecting and printing the result in a pandas dataframe.

### Query 1
Get a specific item from a specific user session

In [16]:
testquery1 = "SELECT artist, song, length \
 FROM t_sessions_items \
 WHERE sessionid = 338 AND \
 iteminsession = 4"

In [17]:
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO t_sessions_items \
                 (sessionid, iteminsession, artist, length, song) "
        query = query + "VALUES (%s, %s, %s, %s, %s)"
        session.execute(query, (int(line[8]), int(line[3]), line[0], 
                                float(line[5]), line[9]))

In [18]:
rows = session.execute(testquery1)
df = pd.DataFrame(rows._current_rows)
df.head()

      artist                             song      length
0  Faithless  Music Matters (Mark Knight Dub)  495.307312

### Query 2
Get all songs from a specific user and a session

In [19]:
testquery2 = "SELECT artist, song, firstname, lastname\
              FROM t_user_sessions WHERE userid = 10 \
              AND sessionid = 182"

In [20]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO t_user_sessions \
                 (userid, sessionid, iteminsession, \
                 artist, firstname, lastname, song) "
        query = query + "VALUES (%s, %s, %s, %s, %s, %s, %s)"
        session.execute(query, (int(line[10]), int(line[8]), int(line[3]), 
                                line[0], line[1], line[4], line[9]))

In [21]:
rows = session.execute(testquery2)
df = pd.DataFrame(rows._current_rows)
df.head()

,artist,song,firstname,lastname
0,Down To The Bone,Keep On Keepin' On,Sylvie,Cruz
1,Three Drives,Greece 2000,Sylvie,Cruz
2,Sebastien Tellier,Kilometer,Sylvie,Cruz
3,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...,Sylvie,Cruz

### Query 3
Get all users who listened to a specific song.

In [22]:
testquery3 = "SELECT firstname, lastname \
              FROM t_songs WHERE song = \
              'All Hands Against His Own'"

In [23]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO t_songs \
                 (song, sessionid, iteminsession, \
                  firstname, lastname) "
        query = query + "VALUES (%s, %s, %s, %s, %s)"
        session.execute(query, (line[9], int(line[8]), int(line[3]),
                                line[1], line[4]))

In [24]:
rows = session.execute(testquery3)
df = pd.DataFrame(rows._current_rows)
df.head()

    firstname lastname
0        Sara  Johnson
1  Jacqueline    Lynch
2       Tegan   Levine

### Droping tables before closing out the sessions

In [25]:
for t, tf in zip(tablist, tabfieldslist):
    try:
        session.execute(dropsql + t)
    except Exception as e:
        print(e)
        print("Error with dropping {}".format(t))

### Closing the session and cluster connectionÂ¶

In [26]:
session.shutdown()
cluster.shutdown()